* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  place-items: center;
  display: grid;
  background-image: url("https://imgs.search.brave.com/NaNIQ6oMrB3MAygpW_ZW2b3jrn2L0bhBxnt7dExf8-U/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvY29s/b3ItYmxvY2stYmFj/a2dyb3VuZC1wM2V5/MnY3cmoxOHduNWx6/LmpwZw");
}

.container {
  display: flex;
  flex-direction: row;
  width: 65%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
  border-radius: 4px;
}
.container h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: capitalize;
  margin: 5px 0;
}
.container button {
    border-radius: 20px;  /* Added border-radius */
}

.first-box{
  width: 50%;
  padding-right: 5px;
}

.view_img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* border: 0.5px solid rgb(35, 122, 189); */
  padding: none;
  margin-bottom: 5px;
}
.view_img img {
  width: 400px;
  height: 360px;
  object-fit: contain;
}
.choose_img {
  width: 100%;
  display: grid;
  place-items: center;
}
.disabled .view_img{
    pointer-events: none;
    margin-bottom: 5px;
    opacity: .5;
}
.choose_img button {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 15px;  /* Adjusted padding */
    border: none;
    outline: none;
    background-color: rgb(197, 230, 115);
    border-radius: 20px;  /* Added border-radius */
    cursor: pointer;
    margin-top: 12px;
}
.choose_img button img {
  width: 35px;
}

.second-box{
  width: 50%;
  border-left: 1px ;
  margin-left: 3px;
  padding-left: 15px;
}

.slider {
  width: 100%;
  position:relative;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.disabled .slider{
    pointer-events: none;
    opacity: .5;
    margin-top: 20px;
    margin-bottom: 20px;
}
.slider input[type = "range"]{
    width: 100%;
}
.slider .filter_info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.rotate_flip_container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

/* Adjusted styling for rotate and flip containers */
.icons_filter {
  width: 45%;  /* Adjusted width */
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

/* Updated styling for icons_room1 */
.icons_filter .icons_room1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.disabled .icons_filter{
    pointer-events: none;
    opacity: .5;
}
.icons_filter .icons_room1 button {
  border: none;
  outline: none;
background-color: transparent;
}
.icons_filter p{
    text-transform: capitalize;
    margin-bottom: 8px;
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;
}
.icons_filter .icons_room1 button img {
  width: 20px;
}

.icons_filter .icons_room1 button:last-child {
  transform: rotate(90deg);
}

.icons_filter_main{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    margin-bottom: 5px;
}
.disabled .icons_filter_main{
    pointer-events: none;
    opacity: .5;
}
.icons_filter_main p{
    text-transform: capitalize;
    margin-bottom: 8px;
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;
}
.icons_filter_main .icons_room{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons_filter_main .icons_room button{
    border: none;
    outline: none;
    background-color: transparent;
}
.icons_room button img{
    width: 20px;
}
.icons_room button:first-child{
  transform: rotate(270deg);
}
.active{
    background-color: rgb(114, 191, 232)!important;
    padding: 2%;
    border-radius: 50%;
}
.icons_room1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons_filter .icons_room1 button{
    border: none;
    outline: none;
    background-color: transparent;
}
.icons_room1 button img{
    width: 20px;
}

.icons_room1 button:last-child{
    transform: rotate(90deg);
}

.btn_contain {
    display: flex;
    justify-content: space-around;  /* Adjust as needed */
    align-items: center;
    margin: 5px 0;
    margin-top: 30px;
}
.disabled .btn_contain{
    pointer-events: none;
    opacity: .5;
}
.btn_contain button {
    padding: 8px 15px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    border-radius: 20px;  /* Added border-radius */
    cursor: pointer;
}
.btn_contain button:first-child {
    border: 1px solid rgb(86, 80, 80);
    transition-duration: 400ms;
}

.btn_contain button:first-child:hover {
    border: none;
    background-color: rgb(145, 145, 145);
    color: #fff;
}

.btn_contain button:last-child {
    background-color: rgb(0, 119, 255);
    color: #fff;
}

.btn_contain button:last-child:hover {
  background-color: rgb(27, 104, 192);
  color: #fff;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;  /* Display children elements vertically on small screens */
  }

  .first-box,
  .second-box{
    width: 100%;
  }
}